<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href='/Css/about.css'>
</head>
<body>
    <div class="container">
        <h1>Creating Webserver using Express js tool </h1>
        <p>{{title}}</p>
      <p>{{createdBy}}</p>
      <img  class='image' src="/image/my image.jpg" width="80px" height="100px">
      {{!-- <video class="video" width="320" height="320" controls>
          <source src="/image/tiktok.mp4" type="video/mp4">
          your browser does not support this vdo  format
      </video> --}}
    </div>
    
</body>
</html>